@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<IndicateurSousActivite> listeindicateur = ViewData["listeindicateur"] as List<IndicateurSousActivite>;
}

<h2>Liste Indicateur</h2>
<br>

<table class="table">
    <thead>
    <tr>
        <th>nom</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var v in listeindicateur)
        {
            <tr>
                <td>@v.NomIndicateur</td>
                <td>
                    <form action="/OccurenceSousActivite/VersModifIndicateur">
                        <input type="hidden" name="idindicateursousactivite" value="@v.Id">
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
