@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    int idprojet = ViewBag.idprojet;
}

<div class="container">
    <p><span style="color: red;">@ViewBag.messageerreur</span></p>
    <form action="/Prolongement/CreateBudgetProjet">
        <input type="hidden" name="idprojet" value="@idprojet">
        <h4>Choisir le montant</h4>
        <div class="form-group">
            <input type="text" name="budget" class="form-control" placeholder="Montant">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>
<br>
<form action="/Prolongement/VersListeProlongementProjet">
    <input type="hidden" name="idprojet" value="@idprojet">
    <button type="submit" class="btn btn-secondary">Retour</button>
</form>
