@using Microsoft.CodeAnalysis.Options
@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    int idoccurence = ViewBag.idoccurence;
    List<TypeIndicateur> liste = ViewData["listeindicateur"] as List<TypeIndicateur>;
}

ID OCCURENCE: @idoccurence

<h2>title</h2>

@using (Html.BeginForm("CreateSansDate", controllerName: "My", FormMethod.Post))
{
    <input type="hidden" name="idoccurence" value="@idoccurence">
    @:INDICATEUR:
    <br>
    <select name="idtypeindicateur" id="idtypeindicateur">
        @foreach (var v in liste)
        {
        <option value="@v.Id">@v.Nom</option>   
        }
    </select>
    <br>
    @:QUANTITE DEMANDEE:
    <br>
    <input type="text" name="quantitedemandee"  required>
    <input type="submit" name="AJOUTER">
}