@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<OccurenceSourceDeVerification> listesource = ViewData["listesource"] as List<OccurenceSourceDeVerification>;
}

<br>

<h2>LISTE SOURCE</h2>

@using (Html.BeginForm("versInsertionGlobalSourcedeVerification", controllerName: "InsertionSources", FormMethod.Post))
{
    <select name="idsourcedeverification" id="idsourcedeverification">
        @foreach (var v in listesource)
        {
            <option value="@v.IdSourcedeverification">@v.SourceDeVerification.Nom</option>
        }
    </select>

    <br>
    @:DATE ACTION:
    <br>
    <input type="date" name="dateaction">
    <br>
    <input type="hidden" name="idoccurence" value="@listesource[0].IdOccurence">
    <input type="submit" value="AJOUTER">   
}