@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    int idoccurence = ViewBag.idoccurence;
    int idtechnicien = ViewBag.idtechnicien;
    DateOnly dateaction = ViewBag.dateaction;
    int idsourcedeverification = ViewBag.idsourcedeverification;
}

<input type="hidden" name="idoccurence" value="@idoccurence">
<input type="hidden" name="idtechnicien" value="@idtechnicien">
<input type="hidden" name="dateaction" value="@dateaction">
<input type="hidden" name="idsourcedeverification" value="@idsourcedeverification">

<h2>Etat de Paiement</h2>
