@model AnaeLogiciel.Models.Resultat

@{
    ViewData["Title"] = "Create";
}

<h4>Nouveau Resultat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Inserer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Regarder liste</a>
</div>

