@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    int idoccurenceactivite = ViewBag.idoccurenceactivite;
}

<h3>Liste Partie Prenante</h3>
<br>
<form action="/OccurenceActivite/InsertionPartiePrenante">
    <table class="table">
        <thead>
        <tr>
            <td>
                <input type="text" name="partieprenante" placeholder="Partie Prenante">
            </td>
        </tr>
        </thead>
    </table>
    <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
<br>
<form action="/OccurenceActivite/Details">
    <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">
    <button type="submit" class="btn btn-secondary">Retour</button>
</form>