@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    int idoccurenceactivite = ViewBag.idoccurenceactivite;
}

<div class="container mt-5">
    <h3>Inserer Partie Prenante</h3>
    <hr>

    <form action="/OccurenceActivite/InsertionPartiePrenante" method="post">
        <div class="form-group">
            <label for="partieprenante">Partie Prenante</label>
            <textarea class="form-control" id="partieprenante" name="partieprenante" rows="4" required></textarea>
        </div>

        <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    </form>
    <br>
    <form action="/OccurenceActivite/Details">
        <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">

        <div class="form-group">
            <button type="submit" class="btn btn-secondary">Retour</button>
        </div>
    </form>
</div>
