@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    int idprojet = ViewBag.idprojet;
    List<Technicien> listetechnicien = ViewData["listetechnicien"] as List<Technicien>;
}

<h2>TECHNICIENS DISPONIBLES</h2>

@using (Html.BeginForm("affectationTechnicien", controllerName: "My", FormMethod.Post))
{
    <input type="hidden" name="idprojet" value="@idprojet">
    @foreach (var v in listetechnicien)
    {
        @v.Email
        <input type="checkbox" name="idtechnicien" value="@v.Id">
        <br>
    }
    <input type="submit" value="AFFECTER">   
}