@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<Technicien> liste = ViewData["listetechnicien"] as List<Technicien>;
    int idprojet = Context.Session.GetInt32("idprojet").GetValueOrDefault();
}

<h2>Affectation</h2>

<br>

<form action="/Projet/AffectationTechnicien">
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var v in liste)
                    {
                        <tr>
                        <td>@v.Email</td>
                        <td><input type="checkbox" name="idtechnicien" value="@v.Id"></td>
                        </tr>
                    }
        </tbody>
    </table>
    <br>
    <table>
        <tr>
            <th>
                <button type="submit" class="btn btn-primary">Valider</button>
            </th>
            <th>
                <form action="/Projet/RetourVersDetails">
                    <input type="hidden" name="idprojet" value="@idprojet">
                    <button type="submit" class="btn btn-secondary">Retour</button>
                </form>
            </th>
        </tr>
    </table>
</form>