@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    int idprojet = ViewBag.idprojet;
}

<h3>Partenaire Technique:</h3>
<br>
<form action="/Projet/InsertionPartenaire">
    <input type="hidden" name="idprojet" value="@idprojet">
    <table class="table">
        <thead>
        <tr>
            <input type="text" name="partenairetechnique" placeholder="Partenaire">
        </tr>
        </thead>
    </table>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
<br>
<form action="/Projet/Details">
    <input type="hidden" name="idprojet" value="@idprojet">
    <button type="submit" class="btn btn-secondary">Retour</button>
</form>