@model AnaeLogiciel.Models.Activite

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutGlobalProject";
}

<div>
    <h4>Activite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour a la liste</a>
    </form>
</div>
