@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<RapportIndicateurActivite> liste = ViewData["liste"] as List<RapportIndicateurActivite>;
    int idoccurenceactiviteindicateur = ViewBag.idoccurenceactiviteindicateur;
}

<h2>Liste Actions</h2>
<br>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Quantité Effectuée</th>
        <th>Date de Début</th>
        <th>Date de Fin</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in liste)
    {
        <tr>
            <td>@v.QuantiteEffectue</td>
            <td>@v.DateDebut</td>
            <td>@v.DateFin</td>
        </tr>
    }
    </tbody>
</table>
<br>
<form action="/IndicateurActivite/DetailsIndicateurActivite">
    <input type="hidden" name="idoccurenceactiviteindicateur" value="@idoccurenceactiviteindicateur">
    <button type="submit" class="btn btn-secondary">Retour</button>
</form>