@using iTextSharp.tool.xml.html.table
@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    int idoccurenceactivite = ViewBag.idoccurenceactivite;
    List<SourceDeVerification> liste = ViewData["listeverification"] as List<SourceDeVerification>;
}

<h2>Choisir source de verification</h2>

<form action="/ActiviteSourceDeVerification/Create">
    <table class="table">
        <thead>
        @foreach (var v in liste)
        {
            <tr>
                <td>@v.Nom</td>
                <td><input type="checkbox" name="idsource" value="@v.Id"></td>
            </tr>
        }
        </thead>
    </table>
    <br>
    <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
<br>
<form action="/ActiviteSourceDeVerification/VersListe">
    <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">
    <button type="submit" class="btn btn-secondary">Retour</button>
</form>