@{
    ViewBag.Title = "title";
    Layout = "_LayoutTechnicien";
    List<Projet> listeprojet = new List<Projet>();
    if (ViewData["listeprojet"] != null)
    {
        listeprojet = ViewData["listeprojet"] as List<Projet>;   
    }
}
<h3>@ViewBag.projet</h3>
<br>
<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Avancement</th>
    </tr> 
    </thead>
    <tbody>
        @foreach (var v in listeprojet)
        {
            <tr>
                <td>@v.Nom</td>
                <td>@v.Avancement %</td>
            </tr>
        }
    </tbody>
</table>
